terrasur/App_WebReferences/WSFacturacion/WSFacturacion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FacturacionWS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FacturacionWS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Autenticacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Autenticacion" nillable="true" type="tns:Autenticacion" />
  <xs:complexType name="AutenticacionRes">
    <xs:sequence>
      <xs:element minOccurs="0" name="body" nillable="true" type="tns:AutenticacionRes.Body" />
      <xs:element minOccurs="0" name="code" type="xs:int" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutenticacionRes" nillable="true" type="tns:AutenticacionRes" />
  <xs:complexType name="AutenticacionRes.Body">
    <xs:sequence>
      <xs:element minOccurs="0" name="idToken" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutenticacionRes.Body" nillable="true" type="tns:AutenticacionRes.Body" />
  <xs:complexType name="Actividad">
    <xs:sequence>
      <xs:element minOccurs="0" name="body" nillable="true" type="tns:ArrayOfActividad.Body" />
      <xs:element minOccurs="0" name="code" type="xs:int" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Actividad" nillable="true" type="tns:Actividad" />
  <xs:complexType name="ArrayOfActividad.Body">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Actividad.Body" nillable="true" type="tns:Actividad.Body" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActividad.Body" nillable="true" type="tns:ArrayOfActividad.Body" />
  <xs:complexType name="Actividad.Body">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="siatId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Actividad.Body" nillable="true" type="tns:Actividad.Body" />
  <xs:complexType name="ProductoServicioHomologado">
    <xs:sequence>
      <xs:element minOccurs="0" name="body" nillable="true" type="tns:ArrayOfProductoServicioHomologado.Body" />
      <xs:element minOccurs="0" name="code" type="xs:int" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductoServicioHomologado" nillable="true" type="tns:ProductoServicioHomologado" />
  <xs:complexType name="ArrayOfProductoServicioHomologado.Body">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductoServicioHomologado.Body" nillable="true" type="tns:ProductoServicioHomologado.Body" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductoServicioHomologado.Body" nillable="true" type="tns:ArrayOfProductoServicioHomologado.Body" />
  <xs:complexType name="ProductoServicioHomologado.Body">
    <xs:sequence>
      <xs:element minOccurs="0" name="company" type="xs:int" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="measurementUnit" type="xs:int" />
      <xs:element minOccurs="0" name="measurementUnitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productService" type="xs:int" />
      <xs:element minOccurs="0" name="productServiceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductoServicioHomologado.Body" nillable="true" type="tns:ProductoServicioHomologado.Body" />
  <xs:complexType name="FacturaRes">
    <xs:sequence>
      <xs:element minOccurs="0" name="body" nillable="true" type="tns:FacturaRes.Body" />
      <xs:element minOccurs="0" name="code" type="xs:int" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FacturaRes" nillable="true" type="tns:FacturaRes" />
  <xs:complexType name="FacturaRes.Body">
    <xs:sequence>
      <xs:element minOccurs="0" name="cuf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FacturaRes.Body" nillable="true" type="tns:FacturaRes.Body" />
  <xs:complexType name="FacturaConsultaIndividual">
    <xs:sequence>
      <xs:element minOccurs="0" name="body" nillable="true" type="tns:FacturaConsultaIndividual.Body" />
      <xs:element minOccurs="0" name="code" type="xs:int" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FacturaConsultaIndividual" nillable="true" type="tns:FacturaConsultaIndividual" />
  <xs:complexType name="FacturaConsultaIndividual.Body">
    <xs:sequence>
      <xs:element minOccurs="0" name="broadcastDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="broadcastType" type="xs:int" />
      <xs:element minOccurs="0" name="broadcastTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cuf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cufd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="invoice" nillable="true" type="tns:FacturaConsultaIndividual.Body.Invoice" />
      <xs:element minOccurs="0" name="invoiceHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="invoiceNumber" type="xs:int" />
      <xs:element minOccurs="0" name="invoiceType" type="xs:int" />
      <xs:element minOccurs="0" name="invoiceTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="invoiceXml" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="modalitySiat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="receptionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sectorDocumentTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sectorDocumentTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FacturaConsultaIndividual.Body" nillable="true" type="tns:FacturaConsultaIndividual.Body" />
  <xs:complexType name="FacturaConsultaIndividual.Body.Invoice">
    <xs:sequence>
      <xs:element minOccurs="0" name="cabecera" nillable="true" type="tns:FacturaConsultaIndividual.Body.Invoice.Cabecera" />
      <xs:element minOccurs="0" name="detalle" nillable="true" type="tns:ArrayOfFacturaConsultaIndividual.Body.Invoice.Detalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FacturaConsultaIndividual.Body.Invoice" nillable="true" type="tns:FacturaConsultaIndividual.Body.Invoice" />
  <xs:complexType name="FacturaConsultaIndividual.Body.Invoice.Cabecera">
    <xs:sequence>
      <xs:element minOccurs="0" name="cafc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoDocumentoSector" type="xs:int" />
      <xs:element minOccurs="0" name="codigoExcepcion" type="xs:int" />
      <xs:element minOccurs="0" name="codigoMetodoPago" type="xs:int" />
      <xs:element minOccurs="0" name="codigoMoneda" type="xs:int" />
      <xs:element minOccurs="0" name="codigoPuntoVenta" type="xs:int" />
      <xs:element minOccurs="0" name="codigoSucursal" type="xs:int" />
      <xs:element minOccurs="0" name="codigoTipoDocumentoIdentidad" type="xs:int" />
      <xs:element minOccurs="0" name="complemento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cuf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cufd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descuentoAdicional" type="xs:decimal" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaEmision" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="leyenda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="montoGiftCard" type="xs:decimal" />
      <xs:element minOccurs="0" name="montoTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="montoTotalMoneda" type="xs:decimal" />
      <xs:element minOccurs="0" name="montoTotalSujetoIva" type="xs:decimal" />
      <xs:element minOccurs="0" name="municipio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nitEmisor" type="xs:int" />
      <xs:element minOccurs="0" name="nombreRazonSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroFactura" type="xs:int" />
      <xs:element minOccurs="0" name="numeroTarjeta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="optional" nillable="true" type="tns:ArrayOfFacturaConsultaIndividual.Body.Invoice.Cabecera.Optional" />
      <xs:element minOccurs="0" name="razonSocialEmisor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoCambio" type="xs:decimal" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FacturaConsultaIndividual.Body.Invoice.Cabecera" nillable="true" type="tns:FacturaConsultaIndividual.Body.Invoice.Cabecera" />
  <xs:complexType name="ArrayOfFacturaConsultaIndividual.Body.Invoice.Cabecera.Optional">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FacturaConsultaIndividual.Body.Invoice.Cabecera.Optional" nillable="true" type="tns:FacturaConsultaIndividual.Body.Invoice.Cabecera.Optional" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFacturaConsultaIndividual.Body.Invoice.Cabecera.Optional" nillable="true" type="tns:ArrayOfFacturaConsultaIndividual.Body.Invoice.Cabecera.Optional" />
  <xs:complexType name="FacturaConsultaIndividual.Body.Invoice.Cabecera.Optional">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FacturaConsultaIndividual.Body.Invoice.Cabecera.Optional" nillable="true" type="tns:FacturaConsultaIndividual.Body.Invoice.Cabecera.Optional" />
  <xs:complexType name="ArrayOfFacturaConsultaIndividual.Body.Invoice.Detalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FacturaConsultaIndividual.Body.Invoice.Detalle" nillable="true" type="tns:FacturaConsultaIndividual.Body.Invoice.Detalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFacturaConsultaIndividual.Body.Invoice.Detalle" nillable="true" type="tns:ArrayOfFacturaConsultaIndividual.Body.Invoice.Detalle" />
  <xs:complexType name="FacturaConsultaIndividual.Body.Invoice.Detalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="actividadEconomica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="codigoProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoProductoSin" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="montoDescuento" type="xs:decimal" />
      <xs:element minOccurs="0" name="numeroImei" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroSerie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precioUnitario" type="xs:decimal" />
      <xs:element minOccurs="0" name="subTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="unidadMedida" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FacturaConsultaIndividual.Body.Invoice.Detalle" nillable="true" type="tns:FacturaConsultaIndividual.Body.Invoice.Detalle" />
  <xs:complexType name="AnulacionRes">
    <xs:sequence>
      <xs:element minOccurs="0" name="body" nillable="true" type="tns:AnulacionRes.Body" />
      <xs:element minOccurs="0" name="code" type="xs:int" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnulacionRes" nillable="true" type="tns:AnulacionRes" />
  <xs:complexType name="AnulacionRes.Body">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="AnulacionRes.Body" nillable="true" type="tns:AnulacionRes.Body" />
</xs:schema>