terrasur/App_WebReferences/WSFacturacion/WSFacturacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSFacturacion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.10.10.15/FacturacionWS/WSFacturacion.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.10.10.15/FacturacionWS/WSFacturacion.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.10.10.15/FacturacionWS/WSFacturacion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FacturacionWS" />
      <xsd:import schemaLocation="http://10.10.10.15/FacturacionWS/WSFacturacion.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSFacturacion_Autenticar_InputMessage">
    <wsdl:part name="parameters" element="tns:Autenticar" />
  </wsdl:message>
  <wsdl:message name="IWSFacturacion_Autenticar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarResponse" />
  </wsdl:message>
  <wsdl:message name="IWSFacturacion_ListaActividades_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaActividades" />
  </wsdl:message>
  <wsdl:message name="IWSFacturacion_ListaActividades_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaActividadesResponse" />
  </wsdl:message>
  <wsdl:message name="IWSFacturacion_ListaProductosHomologados_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaProductosHomologados" />
  </wsdl:message>
  <wsdl:message name="IWSFacturacion_ListaProductosHomologados_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaProductosHomologadosResponse" />
  </wsdl:message>
  <wsdl:message name="IWSFacturacion_EmitirFacturaCompraVenta_InputMessage">
    <wsdl:part name="parameters" element="tns:EmitirFacturaCompraVenta" />
  </wsdl:message>
  <wsdl:message name="IWSFacturacion_EmitirFacturaCompraVenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmitirFacturaCompraVentaResponse" />
  </wsdl:message>
  <wsdl:message name="IWSFacturacion_RepGraficaFacturaOficio_InputMessage">
    <wsdl:part name="parameters" element="tns:RepGraficaFacturaOficio" />
  </wsdl:message>
  <wsdl:message name="IWSFacturacion_RepGraficaFacturaOficio_OutputMessage">
    <wsdl:part name="parameters" element="tns:RepGraficaFacturaOficioResponse" />
  </wsdl:message>
  <wsdl:message name="IWSFacturacion_ConsultaFacturaIndividual_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaFacturaIndividual" />
  </wsdl:message>
  <wsdl:message name="IWSFacturacion_ConsultaFacturaIndividual_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaFacturaIndividualResponse" />
  </wsdl:message>
  <wsdl:message name="IWSFacturacion_AnularFactura_InputMessage">
    <wsdl:part name="parameters" element="tns:AnularFactura" />
  </wsdl:message>
  <wsdl:message name="IWSFacturacion_AnularFactura_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnularFacturaResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSFacturacion">
    <wsdl:operation name="Autenticar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSFacturacion/Autenticar" message="tns:IWSFacturacion_Autenticar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSFacturacion/AutenticarResponse" message="tns:IWSFacturacion_Autenticar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaActividades">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSFacturacion/ListaActividades" message="tns:IWSFacturacion_ListaActividades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSFacturacion/ListaActividadesResponse" message="tns:IWSFacturacion_ListaActividades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaProductosHomologados">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSFacturacion/ListaProductosHomologados" message="tns:IWSFacturacion_ListaProductosHomologados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSFacturacion/ListaProductosHomologadosResponse" message="tns:IWSFacturacion_ListaProductosHomologados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmitirFacturaCompraVenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSFacturacion/EmitirFacturaCompraVenta" message="tns:IWSFacturacion_EmitirFacturaCompraVenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSFacturacion/EmitirFacturaCompraVentaResponse" message="tns:IWSFacturacion_EmitirFacturaCompraVenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RepGraficaFacturaOficio">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSFacturacion/RepGraficaFacturaOficio" message="tns:IWSFacturacion_RepGraficaFacturaOficio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSFacturacion/RepGraficaFacturaOficioResponse" message="tns:IWSFacturacion_RepGraficaFacturaOficio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaFacturaIndividual">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSFacturacion/ConsultaFacturaIndividual" message="tns:IWSFacturacion_ConsultaFacturaIndividual_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSFacturacion/ConsultaFacturaIndividualResponse" message="tns:IWSFacturacion_ConsultaFacturaIndividual_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnularFactura">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSFacturacion/AnularFactura" message="tns:IWSFacturacion_AnularFactura_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSFacturacion/AnularFacturaResponse" message="tns:IWSFacturacion_AnularFactura_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSFacturacion" type="tns:IWSFacturacion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Autenticar">
      <soap:operation soapAction="http://tempuri.org/IWSFacturacion/Autenticar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaActividades">
      <soap:operation soapAction="http://tempuri.org/IWSFacturacion/ListaActividades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaProductosHomologados">
      <soap:operation soapAction="http://tempuri.org/IWSFacturacion/ListaProductosHomologados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmitirFacturaCompraVenta">
      <soap:operation soapAction="http://tempuri.org/IWSFacturacion/EmitirFacturaCompraVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RepGraficaFacturaOficio">
      <soap:operation soapAction="http://tempuri.org/IWSFacturacion/RepGraficaFacturaOficio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaFacturaIndividual">
      <soap:operation soapAction="http://tempuri.org/IWSFacturacion/ConsultaFacturaIndividual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnularFactura">
      <soap:operation soapAction="http://tempuri.org/IWSFacturacion/AnularFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSFacturacion">
    <wsdl:port name="BasicHttpBinding_IWSFacturacion" binding="tns:BasicHttpBinding_IWSFacturacion">
      <soap:address location="http://10.10.10.15/FacturacionWS/WSFacturacion.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>